<!-- <div fxLayout="row" fxFlex color="accent">Enter anything. No authentication at this time.</div> -->

<div fxLayout="row"
     class="login-wrapper"
     fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-title>Log In</mat-card-title>

    <form (ngSubmit)="onSubmit(loginForm)"
          autocomplete="off"
          class="example-form"
          #loginForm="ngForm"
          ngNativeValidate>
      <mat-card-content>
        <div class="form-group row">
          <div>
            <mat-form-field class="example-full-width">
              <mat-label>Username</mat-label>
              <input matInput
                     name="username"
                     required
                     [(ngModel)]="username"
                     #loginName="ngModel"
                     placeholder="Enter Your Username">
              <mat-error>Username is required</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="form-group row">
          <div>
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input matInput
                     type="password"
                     name="password"
                     required
                     [(ngModel)]="password"
                     #pwd="ngModel"
                     placeholder="Enter Your Password">
              <mat-error>A password is required</mat-error>
            </mat-form-field>

          </div>
        </div>
      </mat-card-content>
      <div class="form-group row"
           fxLayoutAlign="center">
        <button mat-raised-button
                color="accent"
                [disabled]="!loginForm.valid"
                class="btn-block"
                type="submit"
                color="primary">
          Login
        </button>
      </div>
      <div>Enter anything</div>
      <div>No active authentication</div>
    </form>
  </mat-card>
</div>

