<main fxLayout class="login-form">
    <div fxLayout="column" fxFlexFill
         fxLayoutAlign="center center">
      <mat-card class="card"
                fxLayout="column"
                fxLayoutAlign="center center"
                fxFlex="40%">
        <mat-card-title fxLayout="row"
                        fxLayoutAlign="center">Login</mat-card-title>
        <mat-card-content fxLayout="column" class="card-body">

          <form (ngSubmit)="onSubmit(loginForm)"
                #loginForm="ngForm"
                ngNativeValidate>
            <div class="form-group row">
              <div>
                <mat-form-field>
                  <mat-label>Username</mat-label>
                  <input matInput
                         name="username"
                         required
                         [(ngModel)]="username"
                         #loginName="ngModel"
                         placeholder="Enter Your Username">
                  <mat-error>Username is required</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="form-group row">
              <div>
                <mat-form-field>
                  <mat-label>Password</mat-label>
                  <input matInput
                         type="password"
                         name="password"
                         required
                         [(ngModel)]="password"
                         #pwd="ngModel"
                         placeholder="Enter Your Password">
                  <mat-error>A password is required</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="form-group row"
                 fxLayoutAlign="center">
              <button mat-raised-button
                      [disabled]="!loginForm.valid"
                      class="login-btn"
                      type="submit"
                      color="primary">
                Login
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>

</main>