.container-fluid.header {
  height: 70px;
  background-color: #424242 !important;
  color: white;
  margin-bottom: 50px;
}

/* .mat-toolbar {
  height: 70px;
  display: flex;
  color: white;
  margin-bottom: 80px;
  justify-content: center;
} */

.menu-spacer {
  width: 60px;
}

.header-title {
  color: white;
  font-size: 35px;
  vertical-align: middle;
  line-height: 60px;
}

.header-menu {
  /* color: white; */
  width: 50px;
  vertical-align: middle;
  line-height: 60px;
}

.header-link {
  vertical-align: middle;
  font-size: 14px;
  cursor: pointer;
  margin-right: 30px;
  margin-left: 30px;
}

a:hover {
  vertical-align: middle;
  font-size: 14px;
  cursor: pointer;
  color: crimson !important;
}