<mat-toolbar color="primary"
             class="tool-bar">
  <mat-toolbar-row class="toolbar-row"
                   fxLayoutAlign="start"
                   fxFlex>
    <div fxLayout="row"
         fxFlex="100%"
         fxLayoutAlign="center center">
      <div class="header-title"
           fxLayout="row no-wrap"
           fxFlex>{{clubName}}
        <span class="menu-spacer"></span>
        <a (click)=addNewClick()
           class="header-link">Add New Member</a>
        <span class="menu-spacer"></span>
        <a (click)="logoffClick()" class="header-link">Log Off</a>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="spacer"></div>
