/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import "~@angular/material/prebuilt-themes/pink-bluegrey.css"; */
/* @import "~@angular/material/prebuilt-themes/purple-green.css"; */


.close.mat-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 14px;
  min-width: auto;
}

