/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import "~@angular/material/prebuilt-themes/pink-bluegrey.css"; */
/* @import "~@angular/material/prebuilt-themes/club-members.css"; */
/* @import "~@angular/material/prebuilt-themes/purple-green.css"; */

.close.mat-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 14px;
  min-width: auto;
}

body {
  background-image: url(assets/wood-texture-pine.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* override some bootstrap themes for the data table */
.ngx-datatable.material .datatable-header .datatable-header-cell {
  background-color: #ff4181 !important;
  /* background-color: #757575 !important; */
  color: white !important;
}

.ngx-datatable.material .datatable-footer {
  background-color: #ff4181 !important;
  /* background-color: #757575 !important; */
  color: white !important;
}

.ngx-datatable.material .datatable-footer .page-count {
  background-color: #ff4181 !important;
  color: white !important;
}

.ngx-datatable.material .datatable-footer .datatable-pager a {
  /* background-color: #757575 !important; */
  background-color: #ff4181 !important;
  color: white !important;
}

.ngx-datatable.material .datatable-footer .datatable-pager a:hover {
  color: #3f51b5 !important;
  background-color: rgba(117, 117, 117, 0.2) !important;
}

.ngx-datatable.material .datatable-footer .datatable-pager li.disabled a .datatable-icon-left,
.ngx-datatable.material .datatable-footer .datatable-pager li.disabled a .datatable-icon-right,
.ngx-datatable.material .datatable-footer .datatable-pager li.disabled a .datatable-icon-prev,
.ngx-datatable.material .datatable-footer .datatable-pager li.disabled a .datatable-icon-skip {
  color: rgba(117, 117, 117, 0.9) !important;
  background-color: transparent !important;
}

.ngx-datatable.material .datatable-body-row .datatable-row-odd {
  background: rgb(104, 97, 97) !important;
}

/* override some Material pre-built theme values */
div.mat-form-field-infix>input:invalid.ng-invalid,
div.mat-form-field-infix>.mat-form-field-label-wrapper,
.mat-form-field-subscript-wrapper mat-error.mat-error {
  color: #c2185b !important;
  caret-color: #c2185b !important;
}

input.mat-input-element.mat-form-field-autofill-control.cdk-text-field-autofill-monitored.ng-pristine.ng-invalid.ng-untouched {
  color: #c2185b !important;
}

mat-form-field-label>mat-label.mat-form-field-appearance-legacy .mat-form-field-label {
  color: rgba(0, 0, 0, 1) !important;
}

#detail-dialog {
  background: #9e9e9e;
}

#delete-dialog {
  background: #e0e0e0;
}

.mat-raised-button:disabled {
  background-color: #bdbdbd !important;
}